<section *ngIf="productDetails">
    <div class="container-fluid" style="height: 1000px;">
        <div class="row" id="details" >
            <!-- <div class="col-md-4 first" >
                <div id="imagZoom" style="--url: url(../../../assets/images/corinne-kutz-j_9drN8w6gw-unsplash.jpg);
                --zoom-x: 0%; --zoom-y: 0%;
                --display:none; 
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                ">
                    <img  src="../../../assets/images/corinne-kutz-j_9drN8w6gw-unsplash.jpg" alt="">
            </div> -->
            <div class="col-md-4 first">
                    <div id="imageZoom" [ngStyle]="{
                '--url': 'url(' + productDetails.image + ')',
                'background-size': 'cover',
                'background-position': 'center',
                'background-repeat': 'no-repeat',
                '--zoom-x': '0%',
                '--zoom-y': '0%',
                '--display': 'none'
                }">
                <img [src]="productDetails.image" [alt]="productDetails.name || 'Product image'">
                </div>
            </div>
            <div class="col-md-4 second">
                <div id="imagZoom" style="--url: url(../../../assets/images/corinne-kutz-j_9drN8w6gw-unsplash.jpg);
                --zoom-x: 0%; --zoom-y: 0%;
                --display:none; 
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                ">
                    <img  src="../../../assets/images/corinne-kutz-j_9drN8w6gw-unsplash.jpg" alt="">
                </div>
            </div>
            <div class="col-md-4 third">
                <div class="profile" routerLink="/seller-account" *ngIf="productDetails">
                    <img [src]="productDetails?.shopImage" alt="">
                    <h5>{{productDetails.shopName}}</h5>
                </div>
                <div class="head">
                    <h5>{{productDetails.productName}}</h5>
                    <p>price EGP {{productDetails.price}}</p>
                    <p>quantity: {{productDetails.quantity}}</p>
                    <span>Inclusive of VAT</span>
                </div>
                <button id="cart" class="w-100 btn btn-dark d-flex justify-content-center gap-2">
                    <a routerLink="cart" class="position-relative" href="#" ><i class="fa-solid fa-bag-shopping "></i></a>
                    ADD TO CART</button>
                <button id="fav" class="w-100 btn btn-default d-flex justify-content-center gap-2">
                    <svg routerLink="favourites" width="20" height="25" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path stroke="black"   d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"  />
                </svg>
                    ADD TO FAVOURITES</button>

                    <div class="discription">
                        <h3>Description</h3>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ut voluptas nobis iure voluptatum, incidunt, maxime fuga optio molestiae qui accusantium voluptates architecto dolor, consequuntur nesciunt. Placeat eligendi sunt veritatis quod.</p>

                        <h6>Review *</h6>
                        <textarea name="" id="discText"></textarea>
                        <button class="btn btn-dark">POST REVIEW</button>
                    </div>
            </div>
        </div>
    </div>
    
</section>