<section style="background-color: #f8f9fa; padding: 20px; border-radius: 8px;">
    <div class="container">
        <h3 class="mb-4 text-center text-uppercase">Please Complete Address Data</h3>
        <form action="" class="form-control p-4 shadow-sm" style="border: none;">
            <div class="row">
                
                <div class="mb-3 col-md-6">
                    <label for="country" class="form-label">Country</label>
                    <input type="text" id="country" class="form-control" placeholder="Enter your Country">
                </div>
                
                <div class="mb-3 col-md-6">
                    <label for="city" class="form-label">City</label>
                    <input type="text" id="city" class="form-control" placeholder="Enter your city">
                </div>
            </div>

            <div class="row">
                
                <div class="mb-3 col-md-6">
                    <label for="postal-code" class="form-label">Postal Code</label>
                    <input type="text" id="postal-code" class="form-control" placeholder="Enter Postal Code">
                </div>
                
                <div class="mb-3 col-md-6">
                    <label for="street" class="form-label">Street</label>
                    <input type="text" id="street" class="form-control" placeholder="Enter your street">
                </div>
            </div>

            
            <div class="text-center">
                <button type="submit" class="btn btn-dark w-50 w-md-50 py-2">Submit</button>
            </div>
        </form>
    </div>
</section>
