<section>
    <div class="container">
        <h2>ON SHIPPING (within 7 Days)</h2>
        <div class="row">
            <div class="col-md-12 first">
                <div class="bod">
                    <div class="row bg-white py-4 ">
                        <div class="col-md-2 ">
                            <img width="200" height="250" src="../../../assets/images/alberto-cognetti-GfkIiqcNn5k-unsplash.jpg" alt="">
                        </div>
                        <div class="col-md-4">
                            <h6>Relaxed Fit Linen resort shirt</h6>
                            <p><span>EGP 1,9998.00</span></p>
                            <p>Quantity : 1</p>
                            <p>Size : M</p>
                            <p>Ordered on : Mon 16-9-2024 </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</section>