

.log{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.login-head{
    text-align: center;
    margin-top: 10px;
}
.login-head h3{
    font-weight: bold;
}
.btn-1{
    text-align: center;
    width: 25%;
    margin-bottom: 20px;
}
.btn-1 p{
    margin-top: 30px;
    font-size: small;
}
form{
    width: 25%;
}
.form-item .form-control{
    // transition: ;
    font-size: 14px;
    line-height: 1.42857;
    margin-bottom: 25px;
    height: 45px;
}

form .reg{
    width: 100%;
    height: 100px;
    text-align: center;
    margin-right: 100px;
    padding-top: 40px;
    margin-top: 40px;
    box-shadow: 0 0 0 1px rgba(0,0,0,.12);
    border: 0.5 solid rgba($color: #000000, $alpha: 1.1);
    font-size: 15px;
    position: relative;
}
form .reg svg{
    margin-left:20px;

}
form .reg .T8D6Z{
    pointer-events: none;
    position: absolute;
    stroke: #d1d1d1;
    fill: none;
    opacity: .8;
    stroke-width: 1.5;
    stroke-linecap: round;
    bottom: -2px;
    left: 4%;
    width: 182px;
    height: 86px;
}

form .reg .sec-svg{
    pointer-events: none;
    position: absolute;
    stroke: #d1d1d1;
    fill: none;
    opacity: .8;
    stroke-width: 1.5;
    stroke-linecap: round;
    right: 4%;
    top: 0;
    width: 53;
    height: 51;
}

form .reg p a{
    // color: rgba($color: #363636, $alpha: 1.8);
    color: #767676;
}