<section >
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="login-up">
                    <ul>
                        <li><a href="register">Create An Account</a></li>
                        <li><a (click)="signout()" href="login"> {{switchlogging}} </a></li>
                      @if(showProfile == "Shop Owner"){
                        <li><a  href="seller-account"> My Profile</a></li>
                      }@else if (showProfile == "Customer"){
                            <li><a  href="home" > store </a></li>
                      }@else {
                            <li><a  href="home" ></a></li>
                      }
                    </ul>
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-2  col-6 d-flex align-items-center justify-content-center">
                <form action="" class="position-relative">
                    <input type="search"  placeholder="What are you looking for?"> 
                    <i class="fa fa-search position-absolute" style="top: 10px; right: 3px;"></i>
                </form>
            </div>
            <div class="col-md-8 col-6 d-flex align-items-center justify-content-center">
                <a class="navbar-brand" routerLink="home"> <img src="../../../assets/images/logo-no-background.svg" alt=""> </a>
            </div>
            <div class="col-md-2 col-12 mb-3 mt-2 d-flex align-items-center justify-content-center gap-3">
                    <svg style="cursor: pointer; outline:none;" routerLink="#" (click)="navigateToSection()"  width="30" height="30" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path stroke="black" d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"  />
                    </svg>
                    <a routerLink="/cart"  ><i style="color: black; font-size: 30px;" class="fa-solid fa-bag-shopping" ></i></a>
            </div>
        </div>

        <!-- <div class="row mt-3">
            <div class="col-md-12 col-12 d-flex align-items-center justify-content-center">
               <nav class="navbar navbar-expand-md navbar-light d-flex justify-content-center ">
                    <div class="container- bg-nav ">
                        <div class="collapse navbar-collapse" id="collapsibleNavId"> 
                            <ul class="navbar-nav me-auto mt-2 p-2 gap-3">
                                <li  class="nav-item">
                                    <a class="nav-link" routerLink="home" routerLinkActive="active-link" >Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" routerLink="#" routerLinkActive="active-link" >Woman</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" routerLink="#" routerLinkActive="active-link" >Men</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" routerLink="#" routerLinkActive="active-link" >Baby</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" routerLink="#" routerLinkActive="active-link" >Sport</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div> -->


        <div class="row mt-3"></div>
    <div class="col-md-12 col-12 d-flex align-items-center justify-content-center  ">
        <nav class="navbar navbar-expand-md navbar-light d-flex justify-content-center">
            <div class="container bg-nav">
                <!-- Toggle button for mobile view -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="true" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Navbar content -->
                <div class="collapse navbar-collapse" id="collapsibleNavId">
                    <ul class="navbar-nav me-auto mt-2 p-2 gap-3">
                        <li class="nav-item">
                            <a class="nav-link" routerLink="home" routerLinkActive="active-link">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="#" routerLinkActive="active-link">Woman</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="#" routerLinkActive="active-link">Men</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="#" routerLinkActive="active-link">Baby</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="#" routerLinkActive="active-link">Sport</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>


        <!-- <div class="S-section" >
            <nav class="navbar navbar-expand-md navbar-light d-flex justify-content-center ">
                <div class="container- bg-nav ">
                    <div class="collapse navbar-collapse" id="collapsibleNavId"> 
                        <ul class="navbar-nav me-auto mt-2 p-2">
                            <li  class="nav-item">
                                <a class="nav-link" routerLink="home" routerLinkActive="active-link" >Home</a>
                            </li>
                             <li class="nav-item">
                                <a class="nav-link" routerLink="#" routerLinkActive="active-link" >Woman</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" routerLink="#" routerLinkActive="active-link" >Men</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" routerLink="#" routerLinkActive="active-link" >Baby</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" routerLink="#" routerLinkActive="active-link" >Sport</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div> -->
</section>


                <!-- <svg (click)="toggelIcon()" routerLink="favourites" [ngClass]="{'filled': isActive }" width="30" height="30" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path stroke="black" d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z" />
                </svg> -->