<div class="row">
    <div class="col-8 shoppingbag">


        <div class="info">
            <h6>my shopping bag (1 items)</h6>
        </div>


        <div class="return">
            <h5><span>FREE Returns</span> Returns Now Availbale Online!</h5>
        </div>


        <div class="product">
            <i class="fa-regular fa-trash-can"></i>

            <div class="productimg">
                <img src="../../../assets/images/andrik-langfield-AAfC-hQpyWM-unsplash.jpg" alt="">
            </div>


            <div class="productdetails">
                <div class="title">
                    <h6>Button-front trousers</h6>
                </div>
                <div class="price">
                    <h6>EGP 1,099.00</h6>
                </div>
                <div class="description">
                    <div class="color">
                        Color : <span>Black</span>
                    </div>
                    <div class="size">
                        Size : <span>M</span>
                    </div>
                </div>

                <a href="">Move to favourites</a>
            </div>


            <div class="productcount">
                <select name="" id="">
                    <option value="">1</option>
                    <option value="">2</option>
                </select>
            </div>

        </div>

    </div>
    <div class="col-4 checkout">
        <div class="title">
            <h5>Order Summary</h5>
        </div>
        <div class="totalprice">
            <div class="ordertotal">
                <h6 class="text">Order Total</h6>
                <h6 class="number">EGP 1,099.00</h6>
            </div>
        </div>

        <a href="/address"><button>Continue to Checkout</button></a>

        <div class="visa">
            <p>Checkout quickly and securely with</p>
            <img src="https://eg.hm.com/themes/custom/transac/alshaya_white_label/imgs/cards/payment-options-icons/mastercard.svg?v1" alt="">
            <img src="https://eg.hm.com/themes/custom/transac/alshaya_white_label/imgs/cards/payment-options-icons/visa.svg?v1" alt="">
        </div>


        <div class="delivery">
            <div class="standard">

                <div class="img">
                    <img src="https://hm.store.alshaya.com/media/deliveryProposition/icon/stores/30/Truck-Outline.png" alt="">
                </div>

                <div class="text">
                <p> Standard Delivery - Free on all orders above EGP 1999. Delivered within 1-5 days.</p>
                </div>
                
            </div>
            <div class="sameday"></div>
            <div class="click"></div>
        </div>
    </div>
</div>